body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

/* Adjust other font properties as needed */
h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
}


.page h1 {
  text-align: center;
}

.page>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container for the list */
.page {
  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Georgia', serif;
  /* Use a warm, serif font */
  background-color: #f5f5f5;
  /* Soft, neutral background color */
  padding: 20px;
  border-radius: 10px;
  /* Rounded corners for a cozy feel */
}

/* Additional styles for a cozy feel */
.container {
  background-color: #f9f9f9;
  /* Light background color */
  padding: 20px;
  border-radius: 10px;
  /* Rounded corners for a cozy look */
}

/* Example for buttons */
button {
  background-color: #000080;
  /* Warm and inviting button color */
  color: #fff;
  /* White text on the button */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}