.page.post-display {
	display: block;
}

.list-grid-parent {
	padding: 0;
}

.list-grid-parent>.list-grid {
	display: grid;
	grid-template-columns: 200px 1fr 1fr 1fr 200px;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	padding: 10px;
}

/* all children below of .list-grid which is a css grid */
.list-grid img {
	justify-self: center;
	align-self: center;
}

.post {
	grid-column: span 3;
	grid-row: span 2;
}

.list-grid .delete-btn {
	grid-column: 5;
	grid-row: 2;
}

.list-grid button {
	width: 50%;
	justify-self: center;
}

/*		responsive styling for mobile screens 		*/
@media screen and (max-width: 768px) {

	.list-grid {
		grid-template-rows: 1fr 1fr 1fr 1fr 10vh 10vh !important;
		grid-template-columns: repeat(3, 1fr) !important;
		gap: 3vw;
	}

	.list-grid img {
		grid-row: 1 / 1;
		grid-column: 1 / 1;
		max-width: 20vw;
		/* Shrink the image width to fit the container */
		height: auto;
		/* Maintain the image's aspect ratio */
	}

	.list-grid .post {
		/* span 3 rows and start on 2nd row */
		grid-row: 2 / span 3;
		grid-column: 1 / span 3;
	}

	.list-grid button {
		width: 100%;
	}

	.list-grid .delete-btn {
		grid-row: 5 / span 1;
		grid-column: 1 / span 3;
	}

	.list-grid .edit-btn {
		grid-row: 6 / span 1;
		grid-column: 1 / span 3;
	}
}

/* for react modals */
.ReactModalPortal {
	margin: 0 auto;
}

.ReactModal__Content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.ReactModalPortal button {
	margin: 10px;
}